<center>

![IGAC](data/images/image_igac.jpg)

</center>

---
## ***Observatorio inmobiliario catastral***

### ***Curso introducción al lenguaje de programación `python`.***

### ***Lectura 2.***
---


Instructor : *_[Luis Andres Campos Maldonado](https://co.linkedin.com/in/lacamposm)_*

In [1]:
## Vamos a conectarnos con nuestro drive
#from google.colab import drive
#drive.mount('/content/drive')

In [2]:
!pwd

/home/andres-campos/IGAC/IGAC_dev/curso_IGAC_I_2023

In [3]:
!ls 'data'

clean_nuqui_r1.xlsx		    images	     nuqui_r1_plot.xlsx
DESTINACION_ECONOMICA_CODIGOS.xlsx  nuqui_curso.csv  test1.xlsx

In [4]:
## Librerias a usar
import numpy as np
import pandas as pd
import warnings
##
warnings.filterwarnings("ignore")
pd.set_option('display.max_columns', None) ## Deseamos ver el máximo de las columnas

## ***Tabla R1: Base catastral***

In [5]:
csv_file = 'data/nuqui_curso.csv'
tablaR1 = pd.read_csv(csv_file)
df_r1 = tablaR1.copy()

In [6]:
display(df_r1)

,DEPARTAMENTO,MUNICIPIO,NUMERO_DEL_PREDIO,NUMERO_DE_ORDEN,TOTAL_REGISTROS,DESTINO_ECONOMICO,AREA_TERRENO,AREA_CONSTRUIDA,AVALUO,VIGENCIA,NUMERO_PREDIAL_ANTERIOR
0,27,495,0001000000010011000000000,1,1,O,157877042,0,10518671000,1012022,100010011000
1,27,495,0001000000010011500000001,1,1,A,0,39,2677000,1012022,100010011001
2,27,495,0001000000010011500000002,1,1,A,0,39,2677000,1012022,100010011002
3,27,495,0001000000010011500000003,1,1,A,0,39,2677000,1012022,100010011003
4,27,495,0001000000010011500000004,1,1,A,0,39,2677000,1012022,100010011004
...,...,...,...,...,...,...,...,...,...,...,...
2794,27,495,0900000000070003500000011,1,1,A,0,60,1992000,1012022,90000070003011
2795,27,495,0900000000070003500000012,1,1,A,0,144,6335000,1012022,90000070003012
2796,27,495,0900000000070003500000013,1,1,A,0,72,2902000,1012022,90000070003013
2797,27,495,0900000000070003500000014,1,1,A,0,66,946000,1012022,90000070003014
2798,27,495,0900000000070003500000015,1,1,A,0,108,1547000,1012022,90000070003015

In [7]:
type(df_r1)

pandas.core.frame.DataFrame

In [8]:
## Atributos sin parentesis.
df_r1.index

RangeIndex(start=0, stop=2799, step=1)

In [9]:
## Atributo
df_r1.columns

Index(['DEPARTAMENTO', 'MUNICIPIO', 'NUMERO_DEL_PREDIO', 'NUMERO_DE_ORDEN',
       'TOTAL_REGISTROS', 'DESTINO_ECONOMICO', 'AREA_TERRENO',
       'AREA_CONSTRUIDA', 'AVALUO', 'VIGENCIA', 'NUMERO_PREDIAL_ANTERIOR'],
      dtype='object')

In [10]:
## Métodos con paréntesis
df_r1.describe().T.style.format('{:,.0f}')

In [11]:
df_r1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2799 entries, 0 to 2798
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   DEPARTAMENTO             2799 non-null   int64
 1   MUNICIPIO                2799 non-null   int64
 2   NUMERO_DEL_PREDIO        2799 non-null   object
 3   NUMERO_DE_ORDEN          2799 non-null   int64
 4   TOTAL_REGISTROS          2799 non-null   int64
 5   DESTINO_ECONOMICO        2799 non-null   object
 6   AREA_TERRENO             2799 non-null   int64
 7   AREA_CONSTRUIDA          2799 non-null   int64
 8   AVALUO                   2799 non-null   int64
 9   VIGENCIA                 2799 non-null   int64
 10  NUMERO_PREDIAL_ANTERIOR  2799 non-null   int64
dtypes: int64(9), object(2)
memory usage: 240.7+ KB

In [12]:
df_r1.describe(include='object').T

                  count unique                        top  freq
NUMERO_DEL_PREDIO  2799   2689  0001000000010207000000000     7
DESTINO_ECONOMICO  2799     17                          A  1986

In [13]:
print(type(df_r1))
print(type(df_r1.DESTINO_ECONOMICO))
df_r1['DESTINO_ECONOMICO']

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>

0       O
1       A
2       A
3       A
4       A
       ..
2794    A
2795    A
2796    A
2797    A
2798    A
Name: DESTINO_ECONOMICO, Length: 2799, dtype: object

## ***Número predial nacional.***

El **número predial nacional (npn)** es un código que permite identificar cada uno de los predios o bienes inmuebles existentes en el territorio colombiano sin posibilidad de equivocación en virtud de su condición geográfica, sus condiciones y atributos.

**Nota:** El IGAC adopta el Número Predial Nacional a partir de enero de 2014.

### ***Componentes.***

El número predial está conformado por ocho componentes

1. Código del departamento.

2. Código del municipio.

3. Zona.

4. Sector, Comuna, Barrio.

5. Manzana o vereda.

6. Terreno.

7. Condicion del predio.

8. Número de construcción/PH.

Estas ocho posiciones agrupan un total de 30 posiciones que se desglosan asi:

<center>

![IGAC](data/images/digitos_example.jpg)

</center>

In [14]:
## Ejemplo particular:
npn = '274950900000000070003500000014'
print(type(npn))
print(len(npn))

<class 'str'>
30

In [15]:
print('Si el npn es entonces:', npn)
print(f'Si el npn es {npn} entonces:')

Si el npn es entonces: 274950900000000070003500000014
Si el npn es 274950900000000070003500000014 entonces:

In [16]:
## Ejemplo particular:
npn = '274950900000000070003500000014'
##
print(f'Si el npn es {npn} entonces:')
print(f'{"="*55}')
print(f'El DEPARTAMENTO es: {npn[0:2]}')
print(f'El MUNICIPIO es: {npn[2:5]}')
print(f'La ZONA es: {npn[5:7]}')
print(f'El SECTOR/COMUNA/BARRIO es: {npn[7:13]}')
print(f'La MANZANA/VERREDA es: {npn[13:17]}')
print(f'El TERRENO es: {npn[17:21]}')
print(f'La CONDICIÓN DE PROPIEDAD es: {npn[21]}')
print(f'El número de construcccion es: {npn[22:]}')

Si el npn es 274950900000000070003500000014 entonces:
=======================================================
El DEPARTAMENTO es: 27
El MUNICIPIO es: 495
La ZONA es: 09
El SECTOR/COMUNA/BARRIO es: 000000
La MANZANA/VERREDA es: 0007
El TERRENO es: 0003
La CONDICIÓN DE PROPIEDAD es: 5
El número de construcccion es: 00000014

In [17]:
df_r1

,DEPARTAMENTO,MUNICIPIO,NUMERO_DEL_PREDIO,NUMERO_DE_ORDEN,TOTAL_REGISTROS,DESTINO_ECONOMICO,AREA_TERRENO,AREA_CONSTRUIDA,AVALUO,VIGENCIA,NUMERO_PREDIAL_ANTERIOR
0,27,495,0001000000010011000000000,1,1,O,157877042,0,10518671000,1012022,100010011000
1,27,495,0001000000010011500000001,1,1,A,0,39,2677000,1012022,100010011001
2,27,495,0001000000010011500000002,1,1,A,0,39,2677000,1012022,100010011002
3,27,495,0001000000010011500000003,1,1,A,0,39,2677000,1012022,100010011003
4,27,495,0001000000010011500000004,1,1,A,0,39,2677000,1012022,100010011004
...,...,...,...,...,...,...,...,...,...,...,...
2794,27,495,0900000000070003500000011,1,1,A,0,60,1992000,1012022,90000070003011
2795,27,495,0900000000070003500000012,1,1,A,0,144,6335000,1012022,90000070003012
2796,27,495,0900000000070003500000013,1,1,A,0,72,2902000,1012022,90000070003013
2797,27,495,0900000000070003500000014,1,1,A,0,66,946000,1012022,90000070003014
2798,27,495,0900000000070003500000015,1,1,A,0,108,1547000,1012022,90000070003015

In [18]:
df_r1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2799 entries, 0 to 2798
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   DEPARTAMENTO             2799 non-null   int64
 1   MUNICIPIO                2799 non-null   int64
 2   NUMERO_DEL_PREDIO        2799 non-null   object
 3   NUMERO_DE_ORDEN          2799 non-null   int64
 4   TOTAL_REGISTROS          2799 non-null   int64
 5   DESTINO_ECONOMICO        2799 non-null   object
 6   AREA_TERRENO             2799 non-null   int64
 7   AREA_CONSTRUIDA          2799 non-null   int64
 8   AVALUO                   2799 non-null   int64
 9   VIGENCIA                 2799 non-null   int64
 10  NUMERO_PREDIAL_ANTERIOR  2799 non-null   int64
dtypes: int64(9), object(2)
memory usage: 240.7+ KB

In [19]:
df_r1['mi_columna'] = df_r1['DEPARTAMENTO'] + df_r1['MUNICIPIO']
df_r1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2799 entries, 0 to 2798
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   DEPARTAMENTO             2799 non-null   int64
 1   MUNICIPIO                2799 non-null   int64
 2   NUMERO_DEL_PREDIO        2799 non-null   object
 3   NUMERO_DE_ORDEN          2799 non-null   int64
 4   TOTAL_REGISTROS          2799 non-null   int64
 5   DESTINO_ECONOMICO        2799 non-null   object
 6   AREA_TERRENO             2799 non-null   int64
 7   AREA_CONSTRUIDA          2799 non-null   int64
 8   AVALUO                   2799 non-null   int64
 9   VIGENCIA                 2799 non-null   int64
 10  NUMERO_PREDIAL_ANTERIOR  2799 non-null   int64
 11  mi_columna               2799 non-null   int64
dtypes: int64(10), object(2)
memory usage: 262.5+ KB

In [20]:
## Al sumar strings concatenamos
string ='27' + '495' + '0001000000010011000000000'
print(string, "----->", type(string))

274950001000000010011000000000 -----> <class 'str'>

In [21]:
## Transformamos las columna a tipo de dato string y los sumamos (e.d contatenamos!!)
df_r1['DEPARTAMENTO'].astype('str') + df_r1['MUNICIPIO'].astype('str')

0       27495
1       27495
2       27495
3       27495
4       27495
        ...
2794    27495
2795    27495
2796    27495
2797    27495
2798    27495
Length: 2799, dtype: object

In [22]:
df_r1['DEPARTAMENTO'].astype('str')

0       27
1       27
2       27
3       27
4       27
        ..
2794    27
2795    27
2796    27
2797    27
2798    27
Name: DEPARTAMENTO, Length: 2799, dtype: object

In [23]:
## En Python, una lista es una estructura de datos que se utiliza para almacenar una colección ordenada de elementos, 
## donde cada elemento puede ser de cualquier tipo de datos. Las listas en Python se crean utilizando corchetes [], y
## cada elemento de la lista está separado por una coma. Las listas son una de las estructuras de datos más 
## utilizadas en Python y son muy versátiles, ya que permiten agregar, eliminar, modificar y acceder a los elementos 
## de la lista de manera eficiente. Aquí hay un ejemplo de cómo crear una lista en Python:
lista1 = [1, 'dslkgh', df_r1, df_r1['DEPARTAMENTO']]
print(type(lista1))

<class 'list'>

In [24]:
## Obtenemos primer elemento de la lista.
lista1[0]

1

In [25]:
## Obtenemos el último elemento de la lista.
lista1[-1]

0       27
1       27
2       27
3       27
4       27
        ..
2794    27
2795    27
2796    27
2797    27
2798    27
Name: DEPARTAMENTO, Length: 2799, dtype: int64

In [26]:
## Diferentes clases de objetos pueden estar en una lista.
for element in lista1:
    print(type(element))

<class 'int'>
<class 'str'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>

In [27]:
## Vamos a obtener el número completo para efecto de un mejor entendimiento
df_registro1 = df_r1.copy()
df_registro1['NPN'] = df_registro1['DEPARTAMENTO'].astype('str')+df_registro1['MUNICIPIO'].astype('str') \
                      +  df_registro1['NUMERO_DEL_PREDIO']  ## Hacemos un "pegado" de los números.
column = df_registro1.pop('NPN')            ## Se obtiene toda la pd.Series asociada a la columna "NPN"
df_registro1.insert(0, 'NPN', column)       ## Insertamos la columna "NPN" como la primera.
#df_registro1 = df_registro1.drop(columns=['DEPARTAMENTO', 'MUNICIPIO', 'NUMERO_DEL_PREDIO'])
df_registro1.drop(columns=['DEPARTAMENTO', 'MUNICIPIO', 'NUMERO_DEL_PREDIO'], inplace=True)
display(df_registro1)

,NPN,NUMERO_DE_ORDEN,TOTAL_REGISTROS,DESTINO_ECONOMICO,AREA_TERRENO,AREA_CONSTRUIDA,AVALUO,VIGENCIA,NUMERO_PREDIAL_ANTERIOR,mi_columna
0,274950001000000010011000000000,1,1,O,157877042,0,10518671000,1012022,100010011000,522
1,274950001000000010011500000001,1,1,A,0,39,2677000,1012022,100010011001,522
2,274950001000000010011500000002,1,1,A,0,39,2677000,1012022,100010011002,522
3,274950001000000010011500000003,1,1,A,0,39,2677000,1012022,100010011003,522
4,274950001000000010011500000004,1,1,A,0,39,2677000,1012022,100010011004,522
...,...,...,...,...,...,...,...,...,...,...
2794,274950900000000070003500000011,1,1,A,0,60,1992000,1012022,90000070003011,522
2795,274950900000000070003500000012,1,1,A,0,144,6335000,1012022,90000070003012,522
2796,274950900000000070003500000013,1,1,A,0,72,2902000,1012022,90000070003013,522
2797,274950900000000070003500000014,1,1,A,0,66,946000,1012022,90000070003014,522
2798,274950900000000070003500000015,1,1,A,0,108,1547000,1012022,90000070003015,522

In [28]:
df_registro1['NPN']

0       274950001000000010011000000000
1       274950001000000010011500000001
2       274950001000000010011500000002
3       274950001000000010011500000003
4       274950001000000010011500000004
                     ...
2794    274950900000000070003500000011
2795    274950900000000070003500000012
2796    274950900000000070003500000013
2797    274950900000000070003500000014
2798    274950900000000070003500000015
Name: NPN, Length: 2799, dtype: object

In [29]:
## En Python, el ciclo for se utiliza para iterar sobre una secuencia de elementos, como una lista, una tupla, un 
## diccionario, una cadena de caracteres, entre otros. La sintaxis básica del ciclo for en Python es la siguiente:
example = '274950001000000010011000000000'  ## Iterable
for num in example:
    print(num)

2
7
4
9
5
0
0
0
1
0
0
0
0
0
0
0
1
0
0
1
1
0
0
0
0
0
0
0
0
0

In [30]:
for pos, num in enumerate(example):
    print(f'Posición: ---> {pos} es ---> {num}')

Posición: ---> 0 es ---> 2
Posición: ---> 1 es ---> 7
Posición: ---> 2 es ---> 4
Posición: ---> 3 es ---> 9
Posición: ---> 4 es ---> 5
Posición: ---> 5 es ---> 0
Posición: ---> 6 es ---> 0
Posición: ---> 7 es ---> 0
Posición: ---> 8 es ---> 1
Posición: ---> 9 es ---> 0
Posición: ---> 10 es ---> 0
Posición: ---> 11 es ---> 0
Posición: ---> 12 es ---> 0
Posición: ---> 13 es ---> 0
Posición: ---> 14 es ---> 0
Posición: ---> 15 es ---> 0
Posición: ---> 16 es ---> 1
Posición: ---> 17 es ---> 0
Posición: ---> 18 es ---> 0
Posición: ---> 19 es ---> 1
Posición: ---> 20 es ---> 1
Posición: ---> 21 es ---> 0
Posición: ---> 22 es ---> 0
Posición: ---> 23 es ---> 0
Posición: ---> 24 es ---> 0
Posición: ---> 25 es ---> 0
Posición: ---> 26 es ---> 0
Posición: ---> 27 es ---> 0
Posición: ---> 28 es ---> 0
Posición: ---> 29 es ---> 0

In [31]:
example = '274950001000000010011000000000'
example[-2]

'0'

In [32]:
print(example[0:2])
print(example[2:5])

27
495

### ***Intro funciones.***

En Python, una función es un bloque de código que realiza una tarea específica y que puede ser llamado desde otras partes del programa. Las funciones son una forma de organizar y reutilizar el código en programas más grandes y complejos.

La sintaxis básica de una función en Python es la siguiente:

In [33]:
def mi_primera_funcion(num):
    """
    Eleva un número a su cuadrado.
    Input: num:(número) ....
    Output: El número al cuadrado
    """
    square = num*num
    return square

mi_primera_funcion(8)

64

Aquí, `mi_primera_funcion` es el nombre de la función, que se utiliza para llamarla desde otras partes del programa. `num` argumentos son los valores que se pasan a la función como entrada. El bloque de código que se encuentra en el cuerpo de la función es el que realiza la tarea específica. El resultado de la función se devuelve mediante la instrucción return.

In [34]:
## En Python, una función lambda es una función anónima y sin nombre que se utiliza para crear funciones simples 
## y rápidas sin la necesidad de definir una función completa. Las funciones lambda se crean utilizando la palabra 
## clave lambda, seguida de los parámetros de entrada y la expresión que se evalúa para devolver el resultado.
## La sintaxis básica de una función lambda en Python es la siguiente:
andres = lambda x: x**2
andres(5)

25

In [35]:
## Vamos a construir estas nuevas columnas
df_registro1['DIVIPOLA'] = df_registro1['NPN'].apply(lambda x: str(x)[0:5])
df_registro1['ZONA'] = df_registro1['NPN'].apply(lambda x: str(x)[5:7])
df_registro1['SECTOR_COMUNA_BARRIO'] = df_registro1['NPN'].apply(lambda x: str(x)[7:13])
df_registro1['MANZANA_VEREDA'] = df_registro1['NPN'].apply(lambda x: str(x)[13:17])
df_registro1['TERRENO'] = df_registro1['NPN'].apply(lambda x: str(x)[17:21])
df_registro1['CONDICION_PREDIO'] = df_registro1['NPN'].apply(lambda x: str(x)[21])
df_registro1['NUMERO_CONSTRUCCION'] = df_registro1['NPN'].apply(lambda x: str(x)[22:])
### Columns to move
columns_move = ['DIVIPOLA', 'ZONA', 'SECTOR_COMUNA_BARRIO', 'MANZANA_VEREDA', 'TERRENO', \
                'CONDICION_PREDIO', 'NUMERO_CONSTRUCCION']
columns = [df_registro1.pop(col) for col in columns_move]
for idx, col in enumerate(columns):
    df_registro1.insert(idx+1, col.name, col)
display(df_registro1)

,NPN,DIVIPOLA,ZONA,SECTOR_COMUNA_BARRIO,MANZANA_VEREDA,TERRENO,CONDICION_PREDIO,NUMERO_CONSTRUCCION,NUMERO_DE_ORDEN,TOTAL_REGISTROS,DESTINO_ECONOMICO,AREA_TERRENO,AREA_CONSTRUIDA,AVALUO,VIGENCIA,NUMERO_PREDIAL_ANTERIOR,mi_columna
0,274950001000000010011000000000,27495,00,010000,0001,0011,0,00000000,1,1,O,157877042,0,10518671000,1012022,100010011000,522
1,274950001000000010011500000001,27495,00,010000,0001,0011,5,00000001,1,1,A,0,39,2677000,1012022,100010011001,522
2,274950001000000010011500000002,27495,00,010000,0001,0011,5,00000002,1,1,A,0,39,2677000,1012022,100010011002,522
3,274950001000000010011500000003,27495,00,010000,0001,0011,5,00000003,1,1,A,0,39,2677000,1012022,100010011003,522
4,274950001000000010011500000004,27495,00,010000,0001,0011,5,00000004,1,1,A,0,39,2677000,1012022,100010011004,522
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2794,274950900000000070003500000011,27495,09,000000,0007,0003,5,00000011,1,1,A,0,60,1992000,1012022,90000070003011,522
2795,274950900000000070003500000012,27495,09,000000,0007,0003,5,00000012,1,1,A,0,144,6335000,1012022,90000070003012,522
2796,274950900000000070003500000013,27495,09,000000,0007,0003,5,00000013,1,1,A,0,72,2902000,1012022,90000070003013,522
2797,274950900000000070003500000014,27495,09,000000,0007,0003,5,00000014,1,1,A,0,66,946000,1012022,90000070003014,522
2798,274950900000000070003500000015,27495,09,000000,0007,0003,5,00000015,1,1,A,0,108,1547000,1012022,90000070003015,522

#### ***Notemos que hasta acá, solo hemos desagregado la información del Número Predial Nacional.***

In [36]:
## Tengo la columna "NPN"
df_registro1['NPN']

0       274950001000000010011000000000
1       274950001000000010011500000001
2       274950001000000010011500000002
3       274950001000000010011500000003
4       274950001000000010011500000004
                     ...
2794    274950900000000070003500000011
2795    274950900000000070003500000012
2796    274950900000000070003500000013
2797    274950900000000070003500000014
2798    274950900000000070003500000015
Name: NPN, Length: 2799, dtype: object

In [37]:
## Otra forma de tener la columna "NPN"
df_registro1.NPN

0       274950001000000010011000000000
1       274950001000000010011500000001
2       274950001000000010011500000002
3       274950001000000010011500000003
4       274950001000000010011500000004
                     ...
2794    274950900000000070003500000011
2795    274950900000000070003500000012
2796    274950900000000070003500000013
2797    274950900000000070003500000014
2798    274950900000000070003500000015
Name: NPN, Length: 2799, dtype: object

In [38]:
## ¿Cómo obtener un subdataframe seleccionado algunas columnas?
col_select = ['NPN', 'CONDICION_PREDIO', 'AVALUO'] ## Lsita con el nombre de las columnas.
df_sub_r1 = df_registro1[col_select]
df_sub_r1

                                 NPN CONDICION_PREDIO       AVALUO
0     274950001000000010011000000000                0  10518671000
1     274950001000000010011500000001                5      2677000
2     274950001000000010011500000002                5      2677000
3     274950001000000010011500000003                5      2677000
4     274950001000000010011500000004                5      2677000
...                              ...              ...          ...
2794  274950900000000070003500000011                5      1992000
2795  274950900000000070003500000012                5      6335000
2796  274950900000000070003500000013                5      2902000
2797  274950900000000070003500000014                5       946000
2798  274950900000000070003500000015                5      1547000

[2799 rows x 3 columns]

In [39]:
df_registro1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2799 entries, 0 to 2798
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   NPN                      2799 non-null   object
 1   DIVIPOLA                 2799 non-null   object
 2   ZONA                     2799 non-null   object
 3   SECTOR_COMUNA_BARRIO     2799 non-null   object
 4   MANZANA_VEREDA           2799 non-null   object
 5   TERRENO                  2799 non-null   object
 6   CONDICION_PREDIO         2799 non-null   object
 7   NUMERO_CONSTRUCCION      2799 non-null   object
 8   NUMERO_DE_ORDEN          2799 non-null   int64
 9   TOTAL_REGISTROS          2799 non-null   int64
 10  DESTINO_ECONOMICO        2799 non-null   object
 11  AREA_TERRENO             2799 non-null   int64
 12  AREA_CONSTRUIDA          2799 non-null   int64
 13  AVALUO                   2799 non-null   int64
 14  VIGENCIA                 2799 non-null   int64
 15  NUMERO_PREDIAL_ANTERIOR  2799 non-null   int64
 16  mi_columna               2799 non-null   int64
dtypes: int64(8), object(9)
memory usage: 371.9+ KB

In [40]:
## ¿Cuántos registros hay por NPN?
df_registro1['NPN'].value_counts()

NPN
274950001000000010207000000000    7
274950001000000010064000000000    7
274950100000000150026500000001    6
274950001000000010198000000000    6
274950001000000010222000000000    6
                                 ..
274950100000000090032000000000    1
274950100000000090034000000000    1
274950100000000090035000000000    1
274950100000000090036000000000    1
274950900000000070003500000015    1
Name: count, Length: 2689, dtype: int64

Lo anterior nuestra que existen NPN's que en la tabla tienen más de un registro. ¿Por qué?

### ***Nota:***

El total de registros corresponde al número de propietarios que ***HAN TENIDO*** la propiedad. Esto, según ***GUÍA PARA EL USO DE LA BASE CATASTRAL EN LA APLICACIÓN ARTÍCULO 2 DE LA LEY 1995 DE 2019***

In [41]:
## En Pandas, una máscara (mask) es una herramienta utilizada para seleccionar filas o columnas de un DataFrame o Serie basado en 
## una condición. Una máscara se crea mediante una expresión booleana que devuelve True o False para cada elemento del DataFrame o 
## Serie. La máscara resultante se utiliza para seleccionar sólo los elementos que cumplen con la condición booleana.
## La sintaxis básica para crear una máscara en Pandas es la siguiente:
mask = df_registro1['NPN'] == '274950001000000010016000000000'
df_registro1[mask]

,NPN,DIVIPOLA,ZONA,SECTOR_COMUNA_BARRIO,MANZANA_VEREDA,TERRENO,CONDICION_PREDIO,NUMERO_CONSTRUCCION,NUMERO_DE_ORDEN,TOTAL_REGISTROS,DESTINO_ECONOMICO,AREA_TERRENO,AREA_CONSTRUIDA,AVALUO,VIGENCIA,NUMERO_PREDIAL_ANTERIOR,mi_columna
11,274950001000000010016000000000,27495,00,010000,0001,0016,0,00000000,1,2,D,26666,0,2763000,1012022,100010016000,522
12,274950001000000010016000000000,27495,00,010000,0001,0016,0,00000000,2,2,D,26666,0,2763000,1012022,100010016000,522

In [42]:
## Es este ejemplo, el numero de predio: 274950001000000010016000000000 tiene 2 DUEÑOS. ????
## Si!!!
df_registro1.query("NPN == '274950001000000010016000000000'")

,NPN,DIVIPOLA,ZONA,SECTOR_COMUNA_BARRIO,MANZANA_VEREDA,TERRENO,CONDICION_PREDIO,NUMERO_CONSTRUCCION,NUMERO_DE_ORDEN,TOTAL_REGISTROS,DESTINO_ECONOMICO,AREA_TERRENO,AREA_CONSTRUIDA,AVALUO,VIGENCIA,NUMERO_PREDIAL_ANTERIOR,mi_columna
11,274950001000000010016000000000,27495,00,010000,0001,0016,0,00000000,1,2,D,26666,0,2763000,1012022,100010016000,522
12,274950001000000010016000000000,27495,00,010000,0001,0016,0,00000000,2,2,D,26666,0,2763000,1012022,100010016000,522

In [43]:
## Es este ejemplo, el numero de predio: 0001000000010092000000000 tiene 3 DUEÑOS. ???
df_registro1.query("NPN == '274950001000000010092000000000'")

,NPN,DIVIPOLA,ZONA,SECTOR_COMUNA_BARRIO,MANZANA_VEREDA,TERRENO,CONDICION_PREDIO,NUMERO_CONSTRUCCION,NUMERO_DE_ORDEN,TOTAL_REGISTROS,DESTINO_ECONOMICO,AREA_TERRENO,AREA_CONSTRUIDA,AVALUO,VIGENCIA,NUMERO_PREDIAL_ANTERIOR,mi_columna
105,274950001000000010092000000000,27495,00,010000,0001,0092,0,00000000,1,3,D,2000,0,208000,1012022,100010092000,522
106,274950001000000010092000000000,27495,00,010000,0001,0092,0,00000000,2,3,D,2000,0,208000,1012022,100010092000,522
107,274950001000000010092000000000,27495,00,010000,0001,0092,0,00000000,3,3,D,2000,0,208000,1012022,100010092000,522

In [44]:
## Nos quedamos con los registro de NPN donde 'NUMERO_DE_ORDEN' y 'TOTAL_REGISTROS' sean iguales.
df_registro_def = df_registro1.copy()
df_registro_def = df_registro1.query('NUMERO_DE_ORDEN == TOTAL_REGISTROS')
df_registro_def.shape

(2689, 17)

In [45]:
### Hacemos un reset del índice.
df_registro_def = df_registro_def.reset_index(drop=True)

In [46]:
## Últimos registro del pd.DataFrame ----> método .tail()
df_registro_def.tail(5)

,NPN,DIVIPOLA,ZONA,SECTOR_COMUNA_BARRIO,MANZANA_VEREDA,TERRENO,CONDICION_PREDIO,NUMERO_CONSTRUCCION,NUMERO_DE_ORDEN,TOTAL_REGISTROS,DESTINO_ECONOMICO,AREA_TERRENO,AREA_CONSTRUIDA,AVALUO,VIGENCIA,NUMERO_PREDIAL_ANTERIOR,mi_columna
2684,274950900000000070003500000011,27495,09,000000,0007,0003,5,00000011,1,1,A,0,60,1992000,1012022,90000070003011,522
2685,274950900000000070003500000012,27495,09,000000,0007,0003,5,00000012,1,1,A,0,144,6335000,1012022,90000070003012,522
2686,274950900000000070003500000013,27495,09,000000,0007,0003,5,00000013,1,1,A,0,72,2902000,1012022,90000070003013,522
2687,274950900000000070003500000014,27495,09,000000,0007,0003,5,00000014,1,1,A,0,66,946000,1012022,90000070003014,522
2688,274950900000000070003500000015,27495,09,000000,0007,0003,5,00000015,1,1,A,0,108,1547000,1012022,90000070003015,522

In [47]:
## Tenemos un 
df_registro_def.NPN.value_counts()

NPN
274950001000000010011000000000    1
274950100000000380092000000000    1
274950100000000380090000000000    1
274950100000000380091000000000    1
274950100000000380091500000001    1
                                 ..
274950100000000090006000000000    1
274950100000000090007000000000    1
274950100000000090008000000000    1
274950100000000090009000000000    1
274950900000000070003500000015    1
Name: count, Length: 2689, dtype: int64

In [48]:
df_registro_def

,NPN,DIVIPOLA,ZONA,SECTOR_COMUNA_BARRIO,MANZANA_VEREDA,TERRENO,CONDICION_PREDIO,NUMERO_CONSTRUCCION,NUMERO_DE_ORDEN,TOTAL_REGISTROS,DESTINO_ECONOMICO,AREA_TERRENO,AREA_CONSTRUIDA,AVALUO,VIGENCIA,NUMERO_PREDIAL_ANTERIOR,mi_columna
0,274950001000000010011000000000,27495,00,010000,0001,0011,0,00000000,1,1,O,157877042,0,10518671000,1012022,100010011000,522
1,274950001000000010011500000001,27495,00,010000,0001,0011,5,00000001,1,1,A,0,39,2677000,1012022,100010011001,522
2,274950001000000010011500000002,27495,00,010000,0001,0011,5,00000002,1,1,A,0,39,2677000,1012022,100010011002,522
3,274950001000000010011500000003,27495,00,010000,0001,0011,5,00000003,1,1,A,0,39,2677000,1012022,100010011003,522
4,274950001000000010011500000004,27495,00,010000,0001,0011,5,00000004,1,1,A,0,39,2677000,1012022,100010011004,522
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2684,274950900000000070003500000011,27495,09,000000,0007,0003,5,00000011,1,1,A,0,60,1992000,1012022,90000070003011,522
2685,274950900000000070003500000012,27495,09,000000,0007,0003,5,00000012,1,1,A,0,144,6335000,1012022,90000070003012,522
2686,274950900000000070003500000013,27495,09,000000,0007,0003,5,00000013,1,1,A,0,72,2902000,1012022,90000070003013,522
2687,274950900000000070003500000014,27495,09,000000,0007,0003,5,00000014,1,1,A,0,66,946000,1012022,90000070003014,522
2688,274950900000000070003500000015,27495,09,000000,0007,0003,5,00000015,1,1,A,0,108,1547000,1012022,90000070003015,522

In [49]:
## Eliminamos la columna "mi_columna".
## Escribimos el dataset en Excel!!!!!
df_registro_def = df_registro_def.drop(columns=['mi_columna'])
df_registro_def.to_excel('data/clean_nuqui_r1.xlsx', index=False, sheet_name='NuquiR1')
## df_registro_def.to_csv('name_file.csv', index=False)      ## En formato .csv

---
## ***Conclusión***
---

1. Revisamos como importar archivos de tipo `.csv`
2. Se introdujo el concepto de un [pandas.DataFrame](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html) y una [pandas.Series](https://pandas.pydata.org/docs/reference/api/pandas.Series.html)
3. Hablamos sobre algunos tipos de datos en `python`: strings, listas.
4. Exportamos un pandas.DataFrame en un archivo de extensión .xlsx

---